@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div>Cabin list</div>
    @for(ICabin cabin in @ViewBag.CabinList)
    {
        <div>
            <h1>Cabin @cabin.getNumber()</h1>
            <p>Cabin Id: @cabin.getId()</p>
        </div>
    }

    
}
