@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    @model List<Mercado.Interfaces.ICabin>

    <div>
        <h1>Cabin list</h1>
    </div>
    @foreach(var cabin in @Model)
    {
        <div>
            <h2>Cabin @cabin.GetNumber()</h2>
            <p>Cabin Id: @cabin.GetId()</p>

            @Html.ActionLink("See more infos.", cabin.GetId(), "getCabin")
        </div>
    }

    
}
