@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
    <div>
        OOOOI entramos na página do cabin e vamos começar a mostrar os dados por aqui no momento
    </div>
    @ViewBag.Cabin.getId()